<div class="border p-2 px-4">
    <h2 class="text-lg sm:text-2xl font-semibold">Guia de uso</h2>
    <h3 class="py-2 text-base font-medium">Sigue estos tres sencillos pasos</h3>
    <ul class="text-sm sm:text-lg list-decimal inset-x-4 relative space-y-2">
        <li class="pe-2">
            Llena los campos requeridos para la busqueda de tu BD en Mysql
        </li>
        <li class="pe-2">Dale al boton de buscar</li>
        <li class="pe-2">
            Analiza tus bases de datos en linea o descarga tus recursos
        </li>
    </ul>
</div>
